/* .example-spacer {
    flex: 1 1 auto;
  }
   */


/* Estilos básicos para el navbar */
nav {
    position: relative;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* El menú siempre visible en pantallas grandes */
  .navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .navbar-menu li {
    margin: 0 10px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    /* Ocultar el menú inicialmente en móviles y tablets */
    .navbar-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 250px;
      height: 100%;
      background-color: #f8f9fa;
      flex-direction: column;
      justify-content: center;
      transition: right 0.3s ease;
      padding: 20px;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }
  
    /* Mostrar el menú cuando esté abierto */
    .navbar-menu.open {
      right: 0;
    }
  
    .navbar-menu li {
      margin: 20px 0;
    }
  
    .navbar-menu li a {
      font-size: 20px;
    }
  }
  
  /* Para pantallas más pequeñas, como móviles */
  @media (max-width: 480px) {
    .navbar-menu {
      width: 200px;
    }
  
    .navbar-menu li a {
      font-size: 18px;
    }
  }
  