

<!-- <button *ngIf="showNav && showMenu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="showNarvar()">
    <mat-icon>menu</mat-icon>
</button>

<button *ngIf="!showNav && showMenu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="showNarvar()">
    <mat-icon>close</mat-icon>
</button>


<div class="narvar__contenedor"[ngClass]="{isActive__narvar: showNav, isInactive_narvar: !showNav }">
    <h2 routerLink="home">Home</h2>
    <h2 routerLink="blog">Blog</h2>
    <h2 routerLink="contacto">Contacto</h2>
</div>
 -->

 <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>