<div class="contenedor gato1" id="gato1">
    <img class="imagen" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF1IwK6-SxM83UpFVY6WtUZxXx-phss_gAUfdKbkTfau6VWVkt" alt="gato">
  </div>

  <div class="contenedor gato2">
    <img class="imagen" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF1IwK6-SxM83UpFVY6WtUZxXx-phss_gAUfdKbkTfau6VWVkt" alt="gato">
  </div> 
  
  <div class="contenedor gato3">
    <img class="imagen" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF1IwK6-SxM83UpFVY6WtUZxXx-phss_gAUfdKbkTfau6VWVkt" alt="gato">
  </div> 